[Desktop Entry]
Name=Nyxt dev
GenericName=Web Browswer
Comment=Infinitely extensible hacker browser & IDE in Common Lisp
Exec=nyxt-desktop %F
Icon=/home/logoraz/common-lisp/nyxt/assets/nyxt_256x256.png
Type=Application
Terminal=false;
Categories=WebBrowser;Network;Development;TextEditor;
StartupNotify=true
StartupWMClass=Nyxt
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;

# Sym Linked to -> /usr/share/applications/